<!DOCTYPE html>
<!--
    This html file is for rendering
-->

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!-- including hbs "header" snippet -->
        {{>header}}
        <p>From a Help template .hbs</p>
        <p>Title: {{title}}</p>
        <p>Name: {{name}}</p>
        <p>File path: {{path}}</p>
        {{>footer}}
    </body>
</html>