<!--
    This html file is for rendering
-->
<header>
    <h1>{{title}}</h1>

    <!--
    link tap to other pages
    -->    

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>

</header>
