<!DOCTYPE html>
<!--
    This html file is for rendering
-->

<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1>From a Help template .hbs</h1>
        <h2>Title: {{title}}</h2>
        <h2>Name: {{name}}</h2>
    </body>
</html>